.mathblock {
  display: block;
  margin: 12px 0;
  font-style: italic;
  border: solid 1px black;
}

.mathblock-title {
  font-weight: bold;
  font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}

.proof-before {
    content: "Proof.";
    font-style: italic;
}
